---
# This is the css that makes up the custom front page; this is the entirety of it
---
html, body { height: 100%; }
body {
    padding: 0;
    margin: 0;


    /* Rectangle */
    font-family: 'Lato', sans-serif;
}
.homepage-gradient {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    transition: opacity 2s ease-in-out;

    &.two {
        background: linear-gradient(130.23deg, #4F2500 -0.69%, #F24C4C 109.94%), linear-gradient(161.86deg, #141414 57.81%, #2E3F94 102.09%), linear-gradient(140.3deg, #6EBADB 5.05%, #213496 95.49%), #C4C4C4;
    }
    &.one {
        background: linear-gradient(130.23deg, #9B51E0 -0.69%, #671928 109.94%), linear-gradient(161.86deg, #141414 57.81%, #2E3F94 102.09%), linear-gradient(140.3deg, #6EBADB 5.05%, #213496 95.49%), #C4C4C4;
    }
}
#content {
    position: absolute;
    bottom: 50px;
    left: 50px;
}
#menu {
    padding: 0;
}
#menu li {
    list-style: none;
    margin: 5px 0;
}
#menu li a i {
    width: 16px;
    margin-right: 5px;
    text-align: right;
}
label, a {
    color: #fff;
    text-decoration: none;
}
a:hover {
    background-color: rgba(45, 59, 186, 0.3);
}
h1, h2 {
    color: #fff;
    margin: 0.1em 0;
}
h2 {
    font-size: 1.1em;
    font-weight: normal;
}
h2 a {
    padding: 3px 0;
}

#homepage-text {
    color: #fff;
    max-width: 500px;
    font-size: 1.8em;
    
    a {
        text-decoration: underline;
    }
}
