---
layout: default
title: Projects
permalink: /projects/
body_class: posts
---
<div class="row">
    {% for post in site.projects %}
    {% unless post.draft %}
    <div class="col">
        <a href="{{ post.url }}" class="d-block">
            {% if post.thumbnail %}
            <div class="thumbnail thumbnail-large mb-2">
                <img src="{{ site.static_url }}{% if post.photo-folder %}{{ post.photo-folder }}/small/{% endif %}{{ post.thumbnail }}" />
            </div>
            {% endif %}

            <h5>{{ post.title }}</h5>
            <p class="text-secondary">{{ post.description }}</p>
        </a>
    </div>
    {% endunless %}
    {% endfor %}
</div>