---
layout: default
permalink: /posts/
body_class: posts
---

{% for category in site.categories %}
<div style="float: left; width: 45%; margin-right: 5%; margin-bottom: 3em;">
    <h1 class="mb-2">{{ category[0]|capitalize }}</h1>
    {% for post in category[1] %}
    {% unless post.draft %}
        <div class="post-summary">
            {% if post.thumbnail %}
            <img src="{{ site.static_url }}{% if post.photo-folder %}{{ post.photo-folder }}/small/{% endif %}{{ post.thumbnail }}"/>
            {% endif %}
            <a href="{{ post.url }}" class="text-primary">{{ post.title }}</a>
            <div class="date text-secondary">{{ post.date|date_to_long_string }}</div>
            <p class="text-secondary">{{ post.summary }}</p>
        </div>
    {% endunless %}
    {% endfor %}
</div>
{% endfor %}
