---
layout: default
permalink: /posts/
body_class: posts
---

<div class="row mb-4 pb-4 featured-posts">
    {% for post in site.posts %}
    {% if post.featured %}
    <div class="col">
        <a href="{{ post.url }}" class="d-block">
            {% if post.thumbnail %}
            <div class="thumbnail thumbnail-large mb-2 {% if post.thumbnail-background %}thumbnail-background{% endif %}"
                {% if post.thumbnail-background %}style="background: {{ post.thumbnail-background }};" {% endif %}>
                <img
                    src="{{ site.static_url }}{% if post.photo-folder %}{{ post.photo-folder }}/small/{% endif %}{{ post.thumbnail }}" />
                {% if post.draft %}<span class="draft-label">Draft</span>{% endif %}
            </div>
            {% endif %}

            <h5>{{ post.title }}</h5>
            <p class="text-secondary">{{ post.description }}</p>
            <div class="text-gray">
                <i class="fa fa-{{ post.categories }}"></i> {{ post.categories|first|capitalize }}
                <i class="fa fa-calendar-alt ml-3"></i> {{ post.date|date_to_long_string }}
            </div>
        </a>
    </div>
    {% endif %}
    {% endfor %}
</div>

<h4 class="mb-4">Recent Posts:</h4>
<div>
    {% for post in site.posts %}
    {% unless post.draft %}
    <a href="{{ post.url }}" class="d-block mb-4">
        <div class="row">
            <div class="col col-md-3">
                {% if post.thumbnail %}
                <div class="thumbnail {% if post.thumbnail-background %}thumbnail-background{% endif %}"
                    {% if post.thumbnail-background %}style="background: {{ post.thumbnail-background }};" {% endif %}>
                    <img
                        src="{{ site.static_url }}{% if post.photo-folder %}{{ post.photo-folder }}/small/{% endif %}{{ post.thumbnail }}" />
                    {% if post.draft %}<span class="draft-label">Draft</span>{% endif %}
                </div>
                {% endif %}
            </div>
            <div class="col">
                <h5>{{ post.title }}</h5>
                <p class="text-secondary">{{ post.description }}</p>
                <div class="text-gray">
                    <i class="fa fa-{{ post.categories }}"></i> {{ post.categories|first|capitalize }}
                    <i class="fa fa-calendar-alt ml-3"></i> {{ post.date|date_to_long_string }}
                </div>
            </div>
        </div>
    </a>
    {% endunless %}
    {% endfor %}

    {% comment %}
    {% for category in site.categories %}
    <div style="float: left; width: 45%; margin-right: 5%; margin-bottom: 3em;">
        <h1 class="mb-2">{{ category[0]|capitalize }}</h1>
        {% for post in category[1] %}
        {% unless post.draft %}
        <div class="post-summary">
            <a href="{{ post.url }}">
                {% if post.thumbnail %}
                <div class="thumbnail {% if post.thumbnail-background %}thumbnail-background{% endif %}"
                    {% if post.thumbnail-background %}style="background: {{ post.thumbnail-background }};" {% endif %}>
                    <img
                        src="{{ site.static_url }}{% if post.photo-folder %}{{ post.photo-folder }}/small/{% endif %}{{ post.thumbnail }}" />
                    {% if post.draft %}<span class="draft-label">Draft</span>{% endif %}
                </div>
                {% endif %}
                <div class="post-head">
                    <h5>{{ post.title }}</h5>
                    <div class="date"><i class="fa fa-calendar-alt"></i> {{ post.date|date_to_long_string }}</div>
                </div>
                <p class="text-secondary">{{ post.description }}</p>
            </a>
        </div>
        {% endunless %}
        {% endfor %}
    </div>
    {% endfor %}
    {% endcomment %}
</div>