{% if item.src_large and item.src_small %} {% comment %}v2{% endcomment %}
<div class="col col-sm-4 mb-3 timelapse-item">
    <a href="{{ item.url }}" 
       class="btn-video-modal" 
       data-base-url="{{ site.static_url }}timelapses/"
       data-url-large="{{ item.src_large }}"
       data-url-small="{{ item.src_small }}"
       data-url-thumbnail="{{ item.thumbnail }}"
       data-summary="{{ item.summary }}">
        <img src="{{ site.static_url }}timelapses/{{ item.thumbnail }}"/>
        <div class="timelapse-summary">{{ item.title }}</div>
    </a>
</div>
{% else %} {% comment %}v1{% endcomment %}
<div class="col col-sm-4 mb-3 timelapse-item">
    <a href="{{ item.url }}" class="btn-video-modal" data-url-large="{{ site.static_url }}timelapses/large/{{ item.filename }}" data-url-medium="{{ site.static_url }}timelapses/medium/{{ item.filename }}" data-url-small="{{ site.static_url }}timelapses/small/{{ item.filename }}" data-summary="{{ item.summary }}" data-url-thumbnail="{{ site.static_url }}timelapses/thumbnails/{{ item.thumbnail }}">
        <img src="{{ site.static_url }}timelapses/thumbnails/{{ item.thumbnail }}"/>
        <div class="timelapse-summary">{{ item.title }}</div>
    </a>
</div>
{% endif %}

