<figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/VideoObject" class="mb-4">
    {% if include.path %}
    <video 
        playsinline 
        class="mt-3"
        muted="true" 
        preload="none"
    >
        <source src="{{ site.static_url }}{{ page.video-folder }}/{{ include.path }}">
    </video>
    {% else if include.title %}
    <video 
        playsinline 
        class="mt-3"
        muted="true" 
        poster="{{ site.static_url }}{{ page.video-folder }}/thumbnails/{{ include.title }}.jpeg"
        preload="none"
        data-src-sd="{{ site.static_url }}{{ page.video-folder }}/sd/{{ include.title }}.mp4"
        data-src-hd="{{ site.static_url }}{{ page.video-folder }}/hd/{{ include.title }}.webm"
    >
        <source src="{{ site.static_url }}{{ page.video-folder }}/sd/{{ include.title }}.mp4">
    </video>
    {% endif %}
    {% if include.caption or include.location %}
    <div class="d-flex">
        {% if include.caption %}<figcaption itemprop="description">{{ include.caption }}</figcaption>{% endif %}
        {% if include.location %}<figcaption itemprop="contentLocation" class="ml-auto"><i class="fa fa-location"></i> {{ include.location }}</figcaption>{% endif %}
    </div>
    {% endif %}
</figure>
