h1, h2, h3, h4, h5, h6 {
    font-family: 'Scope One', serif;
    font-family: 'Copse', serif;
    font-family: 'Sanchez', serif;
    font-family: 'Vesper Libre', serif;
}
h1 {
    font-size: 2em;
}
p {
    margin: 1em 0;
    font-family: 'Scope One', serif;
    font-family: 'Copse', serif;
    font-family: 'Sanchez', serif;
    font-family: 'Vesper Libre', serif;

}
