#homepage-content {
    position: absolute;
    bottom: 50px;
    left: 50px;

    max-width: 600px;
    font-size: 1.8rem;
    
    a {
        text-decoration: none;
        padding: 0 5px;

        span {
            text-decoration: underline;
        }

        &:hover {
            background-color: rgba(45, 59, 186, 0.3);
        }
    }

    #menu li {
        list-style: none;
        margin: 5px 0;
        line-height: 1rem;
        font-size: 1.2rem;

        a { 
            i {
                width: 16px;
                margin-right: 5px;
                text-align: right;
            }
        }
    }
}
