<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
      <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

      <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
      <script src="https://use.fortawesome.com/d67f9c0e.js"></script>
      <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

      <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
      <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

      {% if page.title %}
      <meta property="og:title" content="{{ page.title }}" />
      <meta property="og:type" content="article" />
      <meta property="og:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}" />
      <meta property="article:published_time" content="{{ page.date | date: "%b %-d, %Y" }}" />
      <meta property="article:section" content="{{ page.categories }}" />
      {% if page.description %}<meta property="og:description" content="{{ page.description }}" />{% endif %}
      {% endif %}

      {% if page.video and page.video-image and page.video-width and page.video-height %}
      <meta property="og:image" content="{{ page.video-image | prepend: site.baseurl | prepend: site.url }}" />
      <meta property="og:video" content="{{ page.video | prepend: site.baseurl | prepend: site.url }}" />
      <meta property="og:video:secure_url" content="{{ page.video | prepend: site.baseurl | prepend: site.url | replace:'http://','https://' }}" />
      <meta property="og:video:width" content="{{ page.video-width }}" />
      <meta property="og:video:height" content="{{ page.video-height }}" />
      <meta property="og:video:type" content="video/mp4" />
      <meta name="twitter:player" content="{{ page.video | prepend: site.baseurl | prepend: site.url }}" />
      <meta name="twitter:player:width" content="{{ page.video-width }}" />
      <meta name="twitter:player:height" content="{{ page.video-height }}" />
      {% elsif page.thumbnail %}
      <meta property="og:image" content="{{ page.thumbnail | prepend: site.baseurl | prepend: site.url }}" />
      {% endif %}

      <meta name="twitter:card" content="{% if page.video %}player{% else %}summary{% endif %}" />
      <meta name="twitter:site" content="@jmskopek" />

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-105680-10', 'auto');
        ga('send', 'pageview');

      </script>
    </head>
    <body class="{{ page.body_class }}">
        <div class="container">
            <div class="d-flex justify-content-between main-header">
                <h1 class="main-title"><a href="/">Jean Marc Skopek</a></h1>
                <ul class="nav main-nav">
                    <li class="nav-item nav-link {% if page.url contains '/projects' %}active{% endif %}"><a href="/projects/" class="nav-link">Projects</a></li>
                    <li class="nav-item nav-link {% if page.url contains '/posts' %}active{% endif %}"><a href="/posts/" class="nav-link">Writing</a></li>
                </ul>
            </div>
            {{ content }}
        </div>
    </body>
</html>
